{% load custom_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Сайт | {% block title %} {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/img/favicon.ico"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/elements/breadcrumb.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/elements/miscellaneous.css" rel="stylesheet" type="text/css">
    <!-- END GLOBAL MANDATORY STYLES -->
    
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="/static/assets/css/dashboard/dash_1.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/plugins/table/datatable/dt-global_style.css">
    <link href="/static/assets/css/components/tabs-accordian/custom-accordions.css" rel="stylesheet" type="text/css" />
    {% block page_level_styles %}
    {% endblock %}
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    
</head>
<body class="alt-menu">
    <!--  BEGIN NAVBAR  -->
    {% include 'includes/navbar.html' %}
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">
        <div class="overlay"></div>
        <div class="cs-overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        {% include 'includes/sidebar.html' %}
        <!--  END SIDEBAR  -->

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <!--  BEGIN BLOCK CONTENT  -->                    
                <div class="pl-4 mb-4 row layout-top-spacing" id="cancel-row">
                    <nav class="breadcrumb-one" aria-label="breadcrumb">
                        <div class="title">
                            <h3>{% block page_title %} {% endblock %}</h3>
                        </div>
                        <ol class="breadcrumb">
                            {% for item in request.path|get_path_items %}
                            {% if forloop.last %}
                            <li class="breadcrumb-item active"><a href="javascript:void(0);">{{ item }}</a></li>
                            {% else %}
                            <li class="breadcrumb-item" aria-current="page"><a href="javascript:void(0);">{{ item }}</a></li>
                            {% endif %}
                            {% endfor %}
                            <li></li>
                        </ol>
                    </nav>
                </div>
                <div class="layout-spacing">
                    <div class="row">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>

                <div id="help_accordion">
                    <div class="row" style="position: fixed; right: 0px; bottom: 0px; width: 30%;">
                        <div class="col-12">
                            <div class="widget">
                                <div class="widget-header">
                                    <h5 class="text-center">Справка</h5>
                                    <hr class="pb-2">
                                </div>
                                <div class='widget-content'>
                                    <div id="toggleAccordion">
                                        <div class="card">
                                            <div class="card-header" id="...">
                                                <section class="mb-0 mt-0">
                                                    <div role="menu" class="collapsed" data-toggle="collapse" data-target="#defaultAccordionOne" aria-expanded="true" aria-controls="defaultAccordionOne">
                                                        Вопрос 1 
                                                        <div class="pl-4 icons">
                                                            {% include 'font-icons/down.svg' %}
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                    
                                            <div id="defaultAccordionOne" class="collapse" aria-labelledby="..." data-parent="#toggleAccordion">
                                                <div class="card-body">                            
                                                    Ответ 1
                                                </div>
                                            </div>
                                        </div>                
        
                                        <div class="card">
                                            <div class="card-header" id="...">
                                                <section class="mb-0 mt-0">
                                                    <div role="menu" class="collapsed" data-toggle="collapse" data-target="#defaultAccordionTwo" aria-expanded="true" aria-controls="defaultAccordionTwo">
                                                        Вопрос 2
                                                        <div class="icons">
                                                            {% include 'font-icons/down.svg' %}
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                    
                                            <div id="defaultAccordionTwo" class="collapse" aria-labelledby="..." data-parent="#toggleAccordion">
                                                <div class="card-body">                            
                                                    Ответ 2
                                                </div>
                                            </div>
                                        </div>                
        
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    </div>                        
                </div>
                <!--  END BLOCK CONTENT  -->
            </div>
        </div>

         <!--  END CONTENT AREA  -->
    </div>

    <!-- END MAIN CONTAINER -->

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="/static/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="/static/bootstrap/js/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
    
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="/static/assets/js/custom.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    {% block page_level_scripts %}
    {% endblock %}
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>
</html>