<div class="header-container fixed-top">
    <header class="header navbar navbar-expand-sm expand-header">
        <ul class="navbar-item flex-row ml-auto">
            <li class="nav-item dropdown user-profile-dropdown  order-lg-0 order-1">
                <a href="javascript:void(0);" onclick="help_accordion_click()" class="nav-link dropdown-toggle user" id="userProfileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% include 'font-icons/help.svg' %}
                </a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown user-profile-dropdown  order-lg-0 order-1">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% include 'font-icons/user.svg' %}
                </a>
                <div class="dropdown-menu position-absolute" aria-labelledby="userProfileDropdown">
                    <div class="user-profile-section">
                        <div class="media mx-auto">
                            <div class="media-body text-center">
                                <h5>{{ request.user.username }}</h5>
                                <p>{{ request.user.get_type_display }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-item">
                        <a href="{% url 'profile' %}">
                            {% include 'font-icons/profile.svg' %}
                            <span>Профиль</span>
                        </a>
                    </div>
                    <div class="dropdown-item">
                        <a href="{% url 'settings' %}">
                            {% include 'font-icons/settings.svg' %}
                            <span>Настройки</span>
                        </a>
                    </div>
                    <div class="dropdown-item">
                        <a href="{% url 'logout' %}">
                            {% include 'font-icons/logout.svg' %}
                            <span>Выйти</span>
                        </a>
                    </div>
                </div>
            </li>
            {% else %}
            <li class="menu single-menu pr-4 mb-3 mt-3">
                <a href="/login?next={{ request.path }}">
                    <div class="">
                        {% include 'font-icons/login.svg' %}
                        <span><strong>Войти</strong></span>
                    </div>
                </a>
            </li>
            {% endif %}
        </ul>
    </header>
</div>



<script>
    function help_accordion_click(){
        var help_accordion = document.getElementById("help_accordion");
        var style = help_accordion.getAttribute("style");
        if(!style){
            style = "display: none;"
            help_accordion.setAttribute("style", style);
        } else {
            help_accordion.removeAttribute("style");
        }
    }
</script>